*{
    font-family: 'qanelas', sans-serif;
}

:root{
    --primary-color: #F67600;
    --secondary-color: #265F94;
    --tertiary-color: #4A4A4A;
    --shadow-color: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --primary-shadow: rgba(246, 119, 0, 0.473) 0px 8px 24px;
}

@media (max-width:600px){
    
    section{
        padding-bottom: 0;
    }

}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}

body {
    background-color: white;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
section {
    margin-bottom: 10em;
}
.card {
    border: none;
}
.btn {
    border: 0;
}
.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: var(--primary-shadow);
    transition-duration: 0.4s;
    letter-spacing: 0.1em;
}
.btn-primary:hover {
    background-color: #d56802;
    color: #fff;
    transition: 0.6s;
}
.btn-white {   
    background-color: #fff;
    color: var(--primary-color);
    box-shadow: var(--shadow-color);
    letter-spacing: 0.1em;
}
.btn-white:hover {
    background-color: #fafafa;
    color: var(--primary-color);
    transition: 0.6s;
}
.badge-primary {
    background-color: var(--secondary-color);
    color: #fff;
}
.badge-primary:hover {
    background-color: var(--primary-color);
    color: #fff;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    color: #fff;
    background-color: var(--primary-color);
    box-shadow: var(--primary-shadow);
}
#btn-back-to-top:hover {
    background-color: #d56802;
}


.nav-home {
    transition: all 0.6s;
}

.nav-home .nav-link {
    color: #fff;
    opacity: 0;
}
.nav-home .nav-link {
    color: #fff;
}

.nav-home .nav-link:hover,
.nav-home .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.nav-home .navbar-brand {
    color: #fff;
    opacity: 0;
}


/* Change navbar styling on scroll */
.nav-home.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-home.active .nav-link {
    color: var(--tertiary-color);
    opacity: 100;

}

.nav-home.active .nav-link:hover,
.nav-home.active .nav-link:focus {
    color: var(--primary-color);
    text-decoration: none;
}

.nav-home.active .navbar-brand {
    color: var(--tertiary-color);
    opacity: 100;

}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .nav-home {
        background: #fff;
    }

    .nav-home .navbar-brand, .navbar .nav-link {
        color: var(--tertiary-color);
    }
}
@media (max-width: 600px) {
    .nav-home {
        opacity: 0;
    }
    .nav-home .nav-link {
        color: var(--tertiary-color);
        opacity: 0;
    }
    .nav-home .navbar-brand {
        opacity: 0;
    }
    .nav-home.active {
        opacity: 100;
    }
    .nav-home.active .nav-link {
        color: var(--tertiary-color);
        opacity: 100;
    }
    .nav-home.active .navbar-brand {
        color: var(--tertiary-color);
        opacity: 100;
    }
}


.nav-page {
    transition: all 0.6s;
}

.nav-page .nav-link {
    color: #fff;
}

.nav-page .nav-link:hover,
.nav-page .nav-link:focus {
    color: var(--tertiary-color);
    text-decoration: none;
}

.nav-page .navbar-brand {
    opacity: 0;
}


/* Change navbar styling on scroll */
.nav-page.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-page.active .nav-link {
    color: var(--tertiary-color);

}

.nav-page.active .nav-link:hover,
.nav-page.active .nav-link:focus {
    color: var(--primary-color);
    text-decoration: none;
}

.nav-page.active .navbar-brand {
    opacity: 100;

}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .nav-page {
        background: #fff;
    }

    .nav-page .navbar-brand, .nav-page .nav-link {
        color: var(--tertiary-color);
    }
}
@media (max-width: 600px) {
    .nav-page .navbar-brand {
        color: var(--tertiary-color);
        opacity: 100;
    }
    .nav-page .nav-link:hover,
    .nav-page .nav-link:focus {
        color: var(--tertiary-color);
        text-decoration: none;
}
}



/* Home Start */
.header {
    background: url("../img/Background header.jpg");
    color: var(--tertiary-color);
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.page-1 {
    background-color: var(--primary-color);
    color: #fff;
}
.page-1 img{
    animation: float 3s linear infinite;
}
.page-2 {
    color: var(--tertiary-color);
}
.service {
    box-shadow: var(--shadow-color);
    color: var(--tertiary-color);
    padding: 0.25em;
    margin: 1em;
    border-radius: 1.5em;
}
.service:hover {
    background-color: #fafafa;
    color: var(--tertiary-color);
    transition: 0.6s;
}
.page-2-img {
    animation: float 3s linear infinite;
}
.page-3 {
    color: var(--tertiary-color);
}
.feature {
    color: var(--tertiary-color);
    box-shadow: var(--shadow-color);
    margin: 1em;
    border-radius: 1.5em;
    transition-duration: 0.6;
}
.feature:hover {
    transform: scale(1.05);
    transition: 0.6s;
}
.contact {
    background: url("../img/Background contact.jpg");
    color: #fff;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.column-3 {
    color: var(--tertiary-color);
}
.column-2 {
    color: var(--tertiary-color);
}
.pricing {
    color: var(--tertiary-color);
}
.pricing .card {
    color: var(--tertiary-color);
    box-shadow: var(--shadow-color);
    margin: 1em;
    border-radius: 1.5em;
    transition-duration: 0.6;
}
.pricing .card:hover {
    transform: scale(1.05);
    transition: 0.6s;
}
.list-primary {
    background-color: var(--primary-color);
    color: #fff;
}
.portofolio {
    color: var(--tertiary-color);
}
.portofolio img {
    box-shadow: var(--shadow-color);
}
.portofolio img:hover {
    transform: scale(1.06);
    transition: 0.6s;
}
.client {
    color: var(--tertiary-color);
}
.client img:hover {
    transform: scale(1.06);
    transition: 0.6s;
}
.testimonial {
    color: var(--tertiary-color);
}
.article {
    color: var(--tertiary-color);
}
.article .card {
    box-shadow: var(--shadow-color);
}
.owl-nav {
    color: var(--primary-color)
}
.owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 70px);
    right: -1em;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}
.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 70px);
    left: -1em;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}


/* Footer Start */
footer {
    background-color: var(--secondary-color);
}
footer {
    background-color: var(--secondary-color);
    color: #fff;
    margin-bottom: 0;
}
/* Footer End */